*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;
overflow:hidden;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(135deg,
#ff9ecb,
#ffc2d8,
#ffd6e8,
#fff0f6);

background-size:400% 400%;

animation:bg 12s ease infinite;

}

@keyframes bg{

0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}

}

.container{

width:100%;
display:flex;
justify-content:center;
align-items:center;

}

.glass{

width:90%;
max-width:420px;

padding:40px;

border-radius:30px;

background:rgba(255,255
